<div id="page2" class="subpage">
    <div align="center"><img src="banner.png" border="0" alt="OTI Education Center Course Search"></div>
    <p class="blackTen" align="left"><strong>Selection Criteria:</strong>
        Users may use any of the selection criteria below to search for OSHA
        training courses offered by the OSHA Training Institute (OTI) Education
        Centers. Please note that registration is conducted through the authorized
        OTI Education Center. </p>
    <hr size="1">
    <table width="970" border="0" cellspacing="0" cellpadding="1" summary="">
        <tr >
            <td class="blackTen" width="162"><strong>Course Title:</strong> </td>
            <td width="662">
            	<select id="pg3Title" name="pg3Title" class="frmFieldSearch" ng-model="filterText.courseTitle">
                    <option></option>
                    <option ng-repeat="courseTitle in courseTitles">{{courseTitle.name}}</option>
            	</select>
            </td>
        </tr>
        <tr class="blackTen">
            <td><strong>OTI Education Center:</strong></td>
            <td><select ng-model="filterText.educationCenter">
                <option></option>
                <option ng-repeat="educationCenter in educationCenters">{{educationCenter.name}}</option></select>
                <strong>State:</strong><select id="stateLov" name="stateLov" class="frmFieldSearch" ng-model="filterText.stateCode">
                    <option></option>
                    <option ng-repeat="stateCode in stateCodes">{{stateCode.description}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td  class="blackTen" colspan="2">
                <strong>Start Date:</strong><input id="pg3StartDate" name="pg3StartDate" type="text" size="10" ng-model="advFilterText.startDate" value="mm/dd/yyyy" ui-date>&nbsp;
                <strong>End Date:</strong> <input id="pg3EndDate" name="pg3EndDate" type="text" size="10" ng-model="advFilterText.endDate" value="mm/dd/yyyy" ui-date>&nbsp;
            </td>
        </tr>
        <tr class="blackTen">
            <td  class="blackTen" colspan="2">
                <strong>No. of Days:</strong><input id="noOfDays" name="noOfDays" ng-model="advFilterText.noOfDays" type="text" size="2" value="">&nbsp;
                <strong>CM:</strong> <input type="checkbox" id="pg3cmPoints" name="pg3cmPoints" ng-model="advFilterText.cmPoints" data-ng-true-value="!0" data-ng-false-value="">&nbsp;
                <strong>CEU:</strong> <input type="checkbox" id="pg3ceuPoints" name="pg3ceuPoints" ng-model="advFilterText.ceuPoints" data-ng-true-value="!0" data-ng-false-value="">
            </td>
        </tr>
    </table>

    <hr size="1">
<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    <span ng-bind-template="{{currentPage+1}}">1</span>/<span ng-bind-template="{{numberOfPages(filtered)}}">1</span>
    <button ng-disabled="currentPage >= filtered.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>
    <div style="border: 2px solid #D9D9D9; width:980; height:275; " >
        <div id = "header" style="width:980;" align="center">
            <table width="100%" border="1"  summary="" ng-grid>
                <tr style="font-size:70%; font-weight:bold; background:#D9D9D9;" align="center" id = "srchTabHdr">
                    <th ng-repeat="th in head" ng-class="selectedCls(th.column)" ng-click="changeSorting(th.column)">{{th.head}}</th>
                </tr>
                <tr ng-repeat="course in filtered = (courses | filter:filterText | cmGTZero:advFilterText | orderBy:sort.column:sort.descending) | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td width="145">{{course.educationCenter.name}}</td>
                    <td width="175"><a href="#/course/{{course.id}}">{{course.courseTitle.name}}</a></td>
                    <td width="70">{{course.startDate | date:'MM/dd/yyyy'}}</td>
                    <td width="70">{{course.endDate | date:'MM/dd/yyyy'}}</td>
                    <td width="80">{{course.noOfDays}}</td>
                    <td width="110">{{course.location}}</td>
                    <td width="120">{{course.address}}</td>
                    <td width="80">{{course.city}}</td>
                    <td width="40">{{course.stateCode.stateCd}}</td>
                    <td width="40">{{course.cmPoints}}</td>
                    <td width="40">{{course.ceuPoints}}</td>
                </tr>
            </table>
        </div>

        <div id = "pg3dgrid" style="width:980; height:250; overflow:auto;" align="center"></div>
    </div>
</div>