<div align="center"><img src="banner.png" border="0" alt="OTI Education Center Course Search"></div>
<p>
    <button ng-click="changeView('courses')">Cancel</button>
    <button ng-click="save()" ng-disabled="isClean() || courseInputForm.$invalid">Save</button>
    <button ng-click="deleteCourse()">Delete</button>
</p>
<div>
    <h2 style="background-color:#D9D9D9; padding: 2px;">Course Input</h2>
    <input type="hidden" id="crsId" ng-model="course.course_id"/>
</div>
<div class="container">
    <form name="courseInputForm" class="form-horizontal">
        <div class="row">
            <div class="span12">
                <div class="control-group">
                    <label class="control-label" for="edCenterSelect">Sponsoring OTI Education Center*</label>

                    <div class="controls">
                        <select id="edCenterSelect"
                                ng-options="educationCenter.name for educationCenter in educationCenters"
                                ng-required="true"
                                ng-model="course.educationCenter" value="{{course.educationCenter}}"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="titleSelect">Title*</label>

                    <div class="controls">
                        <select id="titleSelect" ng-options="title.name for title in courseTitles"
                                ng-required="true"
                                ng-model="course.courseTitle" value="{{course.courseTitle}}"></select>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="startDateInput">Start Date*</label>

                    <div class="controls">
                        <input id="startDateInput" ng-model="course.startDate"
                               value="{{course.startDate | date: 'MM/dd/yyyy'}}" ui-date ng-required="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="row">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label" for="titleDesc">Description</label>

                            <div class="controls">
                                <textarea id="titleDesc" name="titleDesc" cols="92" rows="5" readonly
                                          ng-model="course.courseTitle.description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="row">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label" for="endDateInput">End Date*</label>

                            <div class="controls">
                                <input id="endDateInput" ng-model="course.endDate"
                                       value="{{course.endDate | date: 'MM/dd/yyyy'}}" ui-date
                                       ng-required="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label" for="noOfDaysInput">No. of Days</label>

                            <div class="controls">
                                <input id="noOfDaysInput" min="0" type="number" ng-model="course.noOfDays">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label" for="contractHoursInput">Contact Hours*</label>

                            <div class="controls">
                                <input id="contractHoursInput" name="courseLength" min="0" type="number"
                                       ng-model="course.length"
                                       ng-required="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="locationInput">Location*</label>

                    <div class="controls">
                        <input id="locationInput" type="text" size="92"
                               ng-model="course.location" ng-required="true">
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="cmPointsInput">CM Points</label>

                    <div class="controls">
                        <input id="cmPointsInput" name="cmPoints" min="0" type="number" ng-model="course.cmPoints">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="addressInput">Address*</label>

                    <div class="controls">
                        <input id="addressInput" type="text" size="92"
                               ng-model="course.address" ng-required="true">
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="ceuPointsInput">CEU Points</label>

                    <div class="controls">
                        <input id="ceuPointsInput" min="0" type="number" ng-model="course.ceuPoints">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="cityInput">City*</label>

                    <div class="controls">
                        <input id="cityInput" type="text" size="70" ng-model="course.city" ng-required="true">
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="costInput">Cost</label>

                    <div class="controls">
                        <input id="costInput" name="cost" min="0" type="number" ng-model="course.cost">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="stateSelect">State*</label>

                    <div class="controls">
                        <select id="stateSelect" ng-options="stateCode.description for stateCode in stateCodes"
                                ng-required="true" ng-model="course.stateCode"
                                value="{{course.stateCode}}"></select>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="languageSelect">Language*</label>

                    <div class="controls">
                        <select id="languageSelect" ng-options="language.lang for language in courseLanguages"
                                ng-required="true"
                                ng-model="course.courseLanguage" value="{{course.courseLanguage}}"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div class="control-group">
                    <p>[Website links only. Please ensure link includes &quot;http://&quot;.]</p>
                    <label class="control-label" for="urlInput">Registration Link*</label>

                    <div class="controls">
                        <input id="urlInput" type="url" size="106" ng-model="course.url"
                               ng-required="true" placeholder="eg. http://www.osha.gov">
                        <a href="{{course.url}}" target="_blank"
                           ng-show='courseInputForm.url.$valid'>{{course.url}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <strong>* Required field</strong>
            </div>
        </div>
    </form>
</div>