<div id="page0" class="subpage">
	<div align="center"><img src="banner.png" border="0" alt="OTI Education Center Course Search"></div>
	<br>

	<p class="blackTen">Welcome to the OSHA Training Institute (OTI)
		Education Centers online Extranet Access page. This application
		allows authorized OTI Education Center designees to add, update, or
		delete OTI numbered courses contained in the searchable course
		schedule for the general public on the OSHA website. <br>
		<br>
		The course content available for entry on this site includes the
		following: course title, description, training location, address
		including city and state, the start/end dates, number of training
		days, total contact hours, CM points, CEU points, cost, language,
		and a registration URL.
	</p>
	<ul>
		<li><a href="#/course/new" onClick="tabclick(1);" title="Course Input Screen">Course Input Screen</a> - Use this screen to add new courses.
		</li>
		<li><a href="#/courses" onClick="tabclick(2);" title="Course Edit Screen">Course Edit Screen</a> - Use this screen to edit or delete courses.
		</li>
		<li><a href="#/users" onClick="tabclick(3);" title="Admin Screen">Admin Screen</a> - For OSHA use only.
		</li>
	</ul>
	<span class="blackTen"><strong>NOTE:</strong> Do <strong>NOT</strong>include the following among your course entries:</span>
	<ul>
		<li>Out-of-Region training;</li>
		<li>Out-of-jurisdiction training;</li>
		<li>Online training;</li>
		<li>Outreach training (10- or 30-hour classes);</li>
		<li>or Any other non-OTIEC training.</li>
	</ul>

	<p class="blackTen"><strong>Attention:</strong> You will only be allowed
		to view and edit course entries once you have been approved as a
		designated OTI Education Center Administrator by the system
		administrator. If you are unable to access your OTI Education
		Centers’ course data, please email <a
			href="mailto:Xanos.Steve@dol.gov"
		title="Xanos.Steve@dol.gov">Xanos.Steve@dol.gov</a> and
		include your email address, the name of your lead OTI Education
		Center (if applicable), and your organization name.
	</p>
</div>