<div align="center"><img src="banner.png" border="0" alt="OTI Education Center Course Search"></div>
<br>

<div class="container">
    <form name="userInputForm" class="form-horizontal">
        <div class="row">
            <div class="span12">
                <div class="control-group">
                    <label class="control-label" for="emailInput">Extranet Email*</label>

                    <div class="controls">
                        <input id="emailInput" type="email" ng-model="user.extranetEmail"
                               ng-required="true" placeholder="eg. doe.john@dol.gov">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div class="control-group">
                    <label class="control-label" for="userTypeSelect">User Type*</label>

                    <div class="controls">
                        <select id="userTypeSelect" ng-required="true"
                                ng-model="user.userType" value="S">
                            <option value="S">Single Ed Center</option>
                            <option value="A">All</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div class="control-group">
                    <label class="control-label" for="edCenterSelect">Sponsoring OTI Education Center*</label>

                    <div class="controls">
                        <select id="edCenterSelect"
                                ng-options="educationCenter.name for educationCenter in educationCenters"
                                ng-required="true"
                                ng-model="user.educationCenter"
                                class="input-xxlarge"></select>
                    </div>
                </div>
            </div>
        </div>
        <button ng-click="save()" ng-disabled="isClean() || userInputForm.$invalid">Add User</button>
    </form>
    <table class="table table-bordered table-striped" ng-grid>
        <tr>
            <th>Extranet Email</th>
            <th>User Type</th>
            <th>Sponsoring OTI Education Center</th>
        </tr>
        <tr ng-repeat="user in users">
            <td>{{user.extranetEmail}}</td>
            <td>{{user.userType}}</td>
            <td>{{user.educationCenter.name}}</td>
        </tr>
    </table>
</div>